body{
    font-family: 'Poppins', sans-serif;
}
#header::before{
    content: "";
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(0,0,0,1)) , url('../images/cover.jpg');   */
    background-image:  url('../images/cover.jpg'); 
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;    
    height: 760px;
    width: 100%;
    background-position: center center;
    background-size: cover;

}
#header{
    height: 760px;
}

.my-navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
    height: 100%;
    width: 100%;
        }
.navbar-brand{
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 800;
    color: #393E46;
    line-height: 40px;
    font-size: 1.7rem;
}
.navbar-brand:focus, .navbar-brand:hover{
    color: #EEEEEE;
}
.navbar{
    z-index: 1;    
}
.navbar-border{
    border-bottom: 1px solid gray;
}
.nav-link{
    font-family: 'Poppins', sans-serif;    
    color: white;
   
}
.nav-link:hover{
    color:  white;
    border-bottom: 4px solid red;
    
}
@media only screen and (max-width: 500px) {
    .navbar-brand{
        
        font-size: 1.0rem;
    }
}
@media only screen and (max-width: 577px) {
    #about-top img{
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-collapse{
        padding: 20px;
       background-color: rgba(0, 0, 0, 0.393);
    }
    .nav-link, .dropdown-item{
        color: white;
    }
    .nav-link:focus, .nav-link:hover{
        color: white;
    }
    .dropdown-menu{
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.559);
    }
    

    .navbar-nav{
         --bs-nav-link-hover-color:silver;       
         
    }
    .dropdown-menu{
        --bs-dropdown-link-active-bg:rgb(7, 7, 7);
    }
    #volunteers .col{
        margin-bottom: 100px;
    }
}
.navbar-nav{
    --bs-nav-link-hover-color:silver;       
    
}
.dropdown-menu{
   --bs-dropdown-link-active-bg:rgb(7, 7, 7);
}

/* ABOUT PAGE */

#about-top{
    width: 100%;
    height: auto;    
}
#about-top img{
    width: 100%;
    height: auto;
}
.header-text{
    color: #00ADB5;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid #00ADB5;
    font-weight: 400;    
}
#about-sms p, .justify-paragraph{
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Roboto',sans-serif;    
}

.vision-border{
    border-left: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to top, tomato, black);
}
.header-border{
    border-bottom: 5px solid darkblue;
    border-radius: 15px
}
.mv-img-translate{
    width:100%;
    transition: transform 1s;    
}
.mv-img-translate:hover{
    transform: translate(0px, 50px);
}
.icon-color, .volunteers-desig{
    color: #00ADB5;
    text-decoration: none;
}
.icon-color:hover{
    color: white;
}
.voluntr-img{
    width:70%;
    height: 90%;
    border-radius: 50%;
    position: relative;
    left:18%;
    top:-80px;
    border: 5px solid silver ;
}
#volunteers{
    background-color: silver;
    padding-top: 20px;
    
}
#volunteers .card-body{
    margin-top: -80px;
}

#volunteers .card:hover{
    background-color: #03181a;
    color:#EEEEEE ;
}

/* DONOR PARTNERS PROJECTS PAGE */

#donor-projects {
    margin-top: 120px ;
    width:100% !important;   
}
#donor-projects h1{
     
    text-transform: uppercase;
    letter-spacing: 1px;    
    padding: 30px 0;
}
#donor-partner-sidebar{
    margin-top: 120px !important ;
}

/* Table Styles */

.table-wrapper{
    -webkit-font-smoothing: antialiased;
    width:80%;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

/* .table {
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
   
} */
.year-width{
    width:20% !important;
}


.table td, .table th {    
    padding: 8px;
}

.table td {
    border-right: 1px solid #f8f8f8;
    font-size: 14px;
}

.table thead th {
    color: #ffffff;
    background: #4FC3A1;
}


.table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.table tr:nth-child(even) {
    background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
    .table {
        display: block;
        width: 100%;
    }
    .year-width{
        width:100% !important;
    }

    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .table thead, .table tbody, .table thead th {
        display: block;
    }
    .table thead th:last-child{
        border-bottom: none;
    }
    .table thead {
        float: left;
    }
    .table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .table td, .table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .table tbody tr {
        display: table-cell;
    }
    .table tbody tr:nth-child(odd) {
        background: none;
    }
    .table tr:nth-child(even) {
        background: transparent;
    }
    .table tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }
    .table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .table tbody td {
        display: block;
        text-align: center;
    }
}

/* PROJECTS */
#projects{
    margin-top: 125px;
}
.project-header{
    background-color: rgb(1, 13, 79);
    color: rgb(238, 236, 236);
    text-decoration: underline blue;
    padding:0.2rem;
    padding-left: 1.5rem;
    transition: padding-left 1s;
}
.project-header:hover{
    background-color: black;
    color: white;
    text-decoration: underline tomato;
    padding-left: 3rem;

}
#projects img{
    transition: transform .5s ease;
}
#projects img:hover{
    transform: scale(1.3);
}