#header::before{
    content: "";
    /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 50%, rgba(0,0,0,1)) , url('../images/cover.jpg');   */
    background-image:  url('../images/cover.jpg');  
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;    
    height: 760px;
    width: 100%;
    background-size: cover;
}
#header{
    height: 760px;
}

.my-navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.4;
    height: 100%;
    width: 100%;
        }
.navbar-brand{
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
    font-weight: 800;
    color: #393E46;
    line-height: 40px;
    font-size: 1.7rem;
}
.navbar-brand:focus, .navbar-brand:hover{
    color: #EEEEEE;
}
.navbar{
    z-index: 1;    
}
.navbar-border{
    border-bottom: 1px solid gray;
}
.nav-link{
    font-family: 'Poppins', sans-serif;    
    color: white;
   
}
.nav-link:hover{
    color:  white;
    border-bottom: 4px solid red;
    
}

@media only screen and (max-width: 992px) {
    .navbar-collapse{
        padding: 20px;
       background-color: rgba(0, 0, 0, 0.393);
    }
    .nav-link, .dropdown-item{
        color: white;
    }
    .nav-link:focus, .nav-link:hover{
        color: white;
    }
    .dropdown-menu{
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.559);
    }
    

    .navbar-nav{
         --bs-nav-link-hover-color:silver;       
         
    }
    .dropdown-menu{
        --bs-dropdown-link-active-bg:rgb(7, 7, 7);
    }
}

.navbar-nav{
    --bs-nav-link-hover-color:silver;       
    
}
.dropdown-menu{
   --bs-dropdown-link-active-bg:rgb(7, 7, 7);
}

/* ABOUT PAGE */

#about-top{
    width: 100%;
    height: auto;    
}
#about-top img{
    width: 100%;
  height: auto;
}
.header-text{
    color: #00ADB5;
    font-family: 'Poppins', sans-serif;
    border-bottom: 2px solid #00ADB5;
    font-weight: 400;
    
}
#about-sms p, .justify-paragraph{
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Roboto',sans-serif ;   
    
}

.vision-border{
    border-left: 10px solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to top, tomato, black);
}
.header-border{
    border-bottom: 5px solid darkblue;
    border-radius: 15px
}
.mv-img-translate{
    width:100%;
    transition: transform 1s;
    
}
.mv-img-translate:hover{
    transform: translate(0px, 50px);
}



