{% extends "ngo/base.html" %}
{% load static %}



{% block main %}

<section class="about" id="about-top">
    <img class="img-fluid" src="{% static 'ngo\images\about-top.jpg' %}" alt="Top">
</section>

<section id="about-sms" class="my-5 ">
    <div class="container border-bottom">
        <h1 class="text-center mb-5 header-text">ABOUT SMS</h1>
        <div class="row row-cols-md-2 row-cols-1 ">
            <div class="col">
                <p class="text-secondary">SMS (Social Motivation Service- SMS) started its activities from December 17,
                    1992
                    with its own resource in a community of JhenSMSah District under the leadership of the present Chief
                    Executive. SMS, the idea came out from the compatible youthful pin-up to assist the poor students
                    and others underprivileged. It is a non-political and human welfare oriented non-government
                    organization (NGO) steadfast to contribute and promote national development through upgrading the
                    socio-economic condition of the disadvantaged and under-privileged poor communities of the society.
                    Since its inceptions, SMS is very committed, specific and sincere to bring the socio-economic uplift
                    and establish the rights of the women and children of the society. Primarily, the SMS Activists
                    started blood-donating and collecting money from the solvent people of the locality and old books
                    from their children.</p>

                <p class="text-secondary">
                    Thereafter, they distributed the money and the books among the poor and meritorious students. During
                    this period, the SMS workers started to help the autistic boys and girls both financially and
                    humanitarianly living within the jurisdiction of JhenSMSah Municipality and Porahati U.P of Sadar
                    upazila. The SMS plant of the past with the passage of time of two era has today emerged as a huge
                    banyan tree to give shadow to those sitting underneath and SMS has been continuous contributing
                    effectively in the welfare of mankind and environment surrounding in mentionable part of the
                    country.
                </p>
            </div>
            <div class="col ">

                <figure class="figure ">

                    <img src="{% static 'ngo\images\about-sms.jpg' %}" class="figure-img img-fluid rounded" alt="...">
                    <figcaption class="figure-caption">A caption for the above image.</figcaption>

                </figure>
            </div>
        </div>
    </div>
</section>

<section id="story" class="my-5 ">
    <div class="container border-bottom">
        <h1 class="text-center mb-5  header-text">STORY</h1>

        <h2>History</h2>
        <p class="justify-paragraph text-muted">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam eaque necessitatibus autem voluptas ab
            iste,
            nulla deserunt dicta aperiam tenetur inventore in voluptates fuga, perspiciatis. Libero eveniet repellendus
            corrupti et impedit, at dolor accusamus numquam quae quidem nihil officiis, sunt totam, excepturi
            accusantium
            cumque ullam, id culpa inventore quos? Nam optio similique officia voluptatem sint sit, ea quisquam vero
            aliquam.
        </p>

        <div class="card border-0">
            <div class="card-body ">
                <blockquote class="blockquote mb-0">
                    <p>A well-known quote, contained in a blockquote element.</p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <figure class="figure ">
            <img src="{% static 'ngo\images\story-1.jpg' %}" class="figure-img img-fluid rounded" alt="...">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>

        <p class="justify-paragraph text-muted">Molestias nesciunt sequi dignissimos, illo laboriosam deserunt. Mollitia
            distinctio
            at ipsam expedita, quo
            explicabo impedit optio! Et quam at impedit, fugiat. Repudiandae dolore, nemo saepe molestiae optio earum
            ratione a ipsum voluptatum. Nam et aperiam consequatur odit laudantium labore itaque nihil veritatis
            repellat distinctio officiis quod pariatur possimus facilis quia, eum, voluptas sint quasi dignissimos
            aliquid illum a dicta optio.</p>

        <figure class="figure ">
            <img src="{% static 'ngo\images\story-2.jpg' %}" class="figure-img img-fluid rounded" alt="...">
            <img src="{% static 'ngo\images\story-2.jpg' %}" class="figure-img img-fluid rounded ms-5" alt="...">
            <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>

        <p class="justify-paragraph text-muted">Molestias nesciunt sequi dignissimos, illo laboriosam deserunt. Mollitia
            distinctio
            at ipsam expedita, quo
            explicabo impedit optio! Et quam at impedit, fugiat. Repudiandae dolore, nemo saepe molestiae optio earum
            ratione a ipsum voluptatum. Nam et aperiam consequatur odit laudantium labore itaque nihil veritatis
            repellat distinctio officiis quod pariatur possimus facilis quia, eum, voluptas sint quasi dignissimos
            aliquid illum a dicta optio.</p>
    </div>
</section>

<section id="mission-vision" class="my-5 ">
    <div class="container  border-bottom">
        <h1 class="text-center   header-text">MISSION & VISION</h1>


        <div class="row row-cols-lg-3 row-cols-1  ">
            <div class="col py-5 ">
                <h2 class="header-border">Mission</h2>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean.

                    Vission
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean.


                </p>
            </div>
            <div class="col py-5 vision-border">
                <h2 class="header-border">Vision</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean.

                    Vission
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live
                    the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large
                    language ocean.

                </p>
            </div>
            <div class="col">
                <img class="mv-img-translate" src="{% static 'ngo/images/story-2.jpg' %}" class=" img-fluid " alt="...">
            </div>



        </div>


    </div>
</section>

<section id="founders" class="my-5 ">
    <div class="container border-bottom">
        <h1 class="text-center mb-5  header-text">FOUNDERS</h1>
    </div>
</section>

{% endblock main %}